

<div class="containter_task">
    <div class="taskBox ">
        <h1 class="tagTask">Готовые задачи</h1>
        <button class="newTask  button">Добавить задачу</button>
        <div class="readyTask Task ">
            <ul class = "readyTaskUl "></ul>
        </div>
    </div>
    <div class="taskBox ">
        <h1 class="tagTask">Задачи в работе</h1>
        <button class="progressTaskAdd  button" >Добавить задачу </button>   
        <div class="progressTask Task">
            <ul class = "progressTaskUl "></ul>           
        </div>

    </div>
    <div class="taskBox ">
        <h1 class="tagTask">Выполненые задачи</h1>
        <button class="finishedTaskAdd  button">Добавить задачу</button>
        <div class="finishedTask Task">
            <ul class="finishUl"></ul>
        </div>

    </div>

</div>


    
  
  